body {
  font-family: Arial;
  margin: 0 20%;
  background-color:  #fdfdfd
}

.bold {
  font-weight: bold;
}

.scenario {
  font-size: 14pt;
  padding-top: 5px;
  font-weight: bold;
}

.gray_question {
  background-color: #d3d3d3;
  border-radius: 15px;
  padding: 15px;
  padding-top: 7.5px;
  padding-left: 20px;
  padding-right: 0px;
  padding-bottom: 30px;
}

.white_question {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 0px;
  padding-bottom: 35px;
  border: 1px solid #adadad;
}

.container {
  display: inline;
  position: relative;
  margin: 0 6%;
  right: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rating_left {
  position: relative;
  display: inline-block;
  width: 20%;
  text-align: right;
  font-size: 13pt;
  top: 12.5px;
  right: 0;
  left: 10px;
}

.rating_right {
  position: relative;
  display: inline-block;
  width: 15%;
  text-align: left;
  font-size: 13pt;
  top: 12.5px;
  left: 5px;
}

.long {
  width: 100px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #ebe8e8;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: darkgray;
}

.container input:checked ~ .checkmark {
  background-color: black;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

.bar {
  background: darkgray;
  border: 1px solid black;
  width: 25%;
  height: 3%;
  margin: 0 0 50% 17.5%;
  position: fixed;
}

#iri_submit_button {
  float: right;
  margin: 15px 0;
  height: 35px;
  width: 75px;
  border-radius: 10px;
  font-size: 14pt;
  border: 1px solid black;
}