
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>endscreen</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			#Thanks{
        font-size: 800%;
        text-align: center;
        vertical-align: middle;
      }

      .button-mouse-over:hover{
				color: gray;
				cursor: pointer;
				user-select: none;
			}

      #return_button{
        font-size: 400%;
        text-align: center;
        vertical-align: middle;
      }
		</style>
  </head>

	<body style="background: black">
    <div id= "Thanks" style="color: white"><p>Thanks for playing our game!</p></div>
    <!-- <span style="color: white"><h1 id="return_button" class="button-mouse-over" onclick="closeTab()">This page will close automatically.</h1></span> -->
	</body>
</html>
