<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Unseeable Informed Consent</title>
    <link rel="stylesheet" href="css/informedConsent.css">
  </head>

  <body>
    <h1>Informed Consent Agreement for Participation in a WPI Research Study</h1>
    <div>
      <p>
        <span class="bold">Investigator:</span> Brian Moriarty, IMGD Professor of Practice
      </p>
      <p>
        <span class="bold">Contact Information:</span>
      </p>
      <p>Brian Moriarty, bmoriarty@wpi.edu, 508 831-5638</p>
      <p>Isaiah Cochran, ilcochran@wpi.edu, 860 995-4606</p>
      <p>Alex Horton, aihorton@wpi.edu, 617 640-3204</p>
      <p>Drew Tisdelle, ddtisdelle@WPI.EDU, 508 965-0927</p>
      <p>Tommy Trieu, ttrieu@wpi.edu, 860 716-8498</p>
      <p>
        <span class="bold">Title of Research Study: </span> Unseeable
      </p>
      <p>
        <span class="bold">Sponsor: </span> WPI
      </p>
      <p>
        <span class="bold">Introduction:</span> You are being asked to participate in a research study.  Before you agree, however, you must be fully informed about the purpose of the study, the procedures to be followed, and any benefits, risks or discomfort that you may experience as a result of your participation.  This form presents information about the study so that you may make a fully informed decision regarding your participation.
      </p>
      <p>
        <span class="bold">Purpose of the Study:</span> The purpose of this study is to obtain playtest feedback in order to locate/address operational bugs, to identify opportunities for design improvement, and to gather data to conduct statistical analyses on to measure games effectiveness towards the experience goal.
      </p>
      <p>
        <span class="bold">Procedures to be followed:</span> You will be asked to play a brief game lasting less than ten minutes. Instrumentation in the game software will anonymously record your activity during play. Before and after completing the game, you will be asked to complete brief, anonymous surveys describing your subjective experience, a positive and negative affect scale, and an interpersonal reactivity index.
      </p>
      <p>
        <span class="bold">Risks to study participants:</span>  There are no foreseeable risks associated with this research study.
      </p>
      <p>
        <span class="bold">Benefits to research participants and others: </span> You will have an opportunity to enjoy and comment on a new game under active development. Your feedback will help improve the game experience for future players.
      </p>
      <p>
        <span class="bold">Record keeping and confidentiality: </span> The only instance of your personal information being recorded will be whether or not you are colorblind. Records of your participation in this study will be held confidential so far as permitted by law. However, the study investigators and, under certain circumstances, the Worcester Polytechnic Institute Institutional Review Board (WPI IRB) will be able to inspect and have access to this confidential data. Any publication or presentation of the data will not identify you.
      </p>
      <p>
        <span class="bold">Compensation or treatment in the event of injury: </span> There is no foreseeable risk of injury associated with this research study. Nevertheless, you do not give up any of your legal rights by signing this statement.
      </p>
      <p>
        <span class="bold">For more information </span> about this research or about the rights of research participants, or in case of research-related injury, contact the Investigator listed at the top of this form. You may also contact the IRB Chair (Professor Kent Rissmiller, Tel. 508-831-5019, Email: kjr@wpi.edu) and the University Compliance Officer (Jon Bartelson, Tel. 508-831-5725, Email: jonb@wpi.edu). 
      </p>
      <p>
        <span class="bold">Your participation in this research is voluntary. </span> Your refusal to participate will not result in any penalty to you or any loss of benefits to which you may otherwise be entitled.  You may decide to stop participating in the research at any time without penalty or loss of other benefits.  The project investigators retain the right to cancel or postpone the experimental procedures at any time they see fit.
      </p>
      <p>
        <span class="bold">By typing your full name below, </span> you acknowledge that you have been informed about and consent to be a participant in the study described above.  Make sure that your questions are answered to your satisfaction before signing.  You are entitled to retain a copy of this consent agreement.
      </p>
      <div class="signature_input">
        <input id="e_signature" type="text" placeholder="Type your full name here">
        <button id="submit_button">Next</button>
      </div>
    </div>
  </body>
  
  <script type="text/javascript" src="scripts/informedConsent.js"></script>
</html>