<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Unseeable IRI</title>
    <link rel="stylesheet" href="css/iri.css">
  </head>

  <body>
    <h1>Interpersonal Reactivity Index</h1>
    <p>The following statements inquire about your thoughts and feelings in a variety of situations. For each item, indicate how well it describes you by selecting the appropriate value on the scale presented under each situation. <span class="bold">Read each item carefully before responding. Answer as honestly as you can. </span>Thank you.</p>

    <div class="gray_question">
      <div class="scenario">I daydream and fantasize, with some regularity, about things that might happen to me.</div>
      <div class="rating_left">Does not describe <br> me very well.</div>
      <label class="container"> <input type="radio" name="iri_q1" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q1" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q1" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q1" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q1" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">I often have tender, concerned feelings for people less fortunate than me.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q2" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q2" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q2" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q2" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q2" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="gray_question">
      <div class="scenario">I sometimes find it difficult to see things from the "other guy's" point of view.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q3" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q3" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q3" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q3" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q3" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">Sometimes I don't feel very sorry for other people when they are having problems.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q4" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q4" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q4" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q4" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q4" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="gray_question">
      <div class="scenario"> I really get involved with the feelings of the characters in a novel.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q5" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q5" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q5" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q5" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q5" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">In emergency situations, I feel apprehensive and ill-at-ease.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q6" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q6" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q6" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q6" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q6" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>
    
    <div class="gray_question">
      <div class="scenario">I am usually objective when I watch a movie or play, and I don't often get completely
        caught up in it.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q7" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q7" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q7" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q7" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q7" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">I try to look at everybody's side of a disagreement before I make a decision.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q8" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q8" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q8" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q8" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q8" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="gray_question">
      <div class="scenario">When I see someone being taken advantage of, I feel kind of protective towards them.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q9" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q9" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q9" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q9" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q9" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">I sometimes feel helpless when I am in the middle of a very emotional situation.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q10" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q10" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q10" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q10" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q10" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="gray_question">
      <div class="scenario">I sometimes try to understand my friends better by imagining how things look from
        their perspective.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q11" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q11" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q11" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q11" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q11" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">Becoming extremely involved in a good book or movie is somewhat rare for me.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q12" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q12" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q12" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q12" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q12" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="gray_question">
      <div class="scenario"> When I see someone get hurt, I tend to remain calm.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q13" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q13" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q13" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q13" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q13" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">Other people's misfortunes do not usually disturb me a great deal.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q14" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q14" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q14" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q14" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q14" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>
    
    <div class="gray_question">
      <div class="scenario">If I'm sure I'm right about something, I don't waste much time listening to other
        people's arguments.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q15" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q15" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q15" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q15" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q15" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">After seeing a play or movie, I have felt as though I were one of the characters.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q16" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q16" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q16" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q16" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q28" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="gray_question">
      <div class="scenario">Being in a tense emotional situation scares me.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q17" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q17" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q17" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q17" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q17" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">When I see someone being treated unfairly, I sometimes don't feel very much pity for
        them.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q18" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q18" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q18" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q18" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q18" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>
    
    <div class="gray_question">
      <div class="scenario">I am usually pretty effective in dealing with emergencies.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q19" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q19" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q19" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q19" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q19" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">I am often quite touched by things that I see happen.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q20" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q20" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q20" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q20" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q20" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="gray_question">
      <div class="scenario">I believe that there are two sides to every question and try to look at them both.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q21" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q21" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q21" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q21" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q21" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">I would describe myself as a pretty soft-hearted person.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q22" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q22" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q22" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q22" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q22" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="gray_question">
      <div class="scenario">When I watch a good movie, I can very easily put myself in the place of a leading
        character.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q23" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q23" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q23" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q23" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q23" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">I tend to lose control during emergencies.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q24" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q24" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q24" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q24" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q24" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="gray_question">
      <div class="scenario">When I'm upset at someone, I usually try to "put myself in his shoes" for a while.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q25" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q25" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q25" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q25" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q25" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">When I am reading an interesting story or novel, I imagine how I would feel if the
        events in the story were happening to me.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q26" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q26" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q26" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q26" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q26" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>
    
    <div class="gray_question">
      <div class="scenario">When I see someone who badly needs help in an emergency, I go to pieces.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q27" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q27" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q27" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q27" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q27" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div class="white_question">
      <div class="scenario">Before criticizing somebody, I try to imagine how I would feel if I were in their place.</div>
      <div class="rating_left">Does not describe me very well.</div>
      <label class="container"> <input type="radio" name="iri_q28" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q28" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q28" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q28" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="iri_q16" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Describes me very well.</div>
    </div>

    <div>
      <button id="iri_submit_button">Next</button>
    </div>

  </body>
</html>