<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Unseeable PANAS</title>
    <link rel="stylesheet" href="css/panas.css">
  </head>

  <body>
    <h1>Positive and Negative Affect Scale</h1>
    <p>This survey consists of a number of words that describe different feelings and emotions. Read each item and then 
      rate how much that word describes how you feel by clicking the appropriate button on the columns to the right. A rating is required for every item. <span class="bold">Indicate to what extent you feel this way right now.</span></p>

    <div id="missing_answers_message">*Please answer the questions marked with red before submitting.</div>

    <div class="rating_box">
      <div class="feeling"></div>
      <label class="rating_container"> <span class="rating">Very slightly or <br> not at all</span> </label>
      <label class="rating_container"> <span class="rating">A little</span> </label>
      <label class="rating_container"> <span class="rating">Moderately</span> </label>
      <label class="rating_container"> <span class="rating">Quite a bit</span> </label>
      <label class="rating_container"> <span class="rating">Extremely</span> </label>
    </div>

    <div id="panas_q1" class="gray_question">
      <div class="feeling">Interested</div>
      <label class="container"> <input type="radio" name="panas_q1" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q1" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q1" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q1" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q1" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q2" class="white_question">
      <div class="feeling">Distressed</div>
      <label class="container"> <input type="radio" name="panas_q2" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q2" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q2" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q2" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q2" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q3" class="gray_question">
      <div class="feeling">Excited</div>
      <label class="container"> <input type="radio" name="panas_q3" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q3" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q3" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q3" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q3" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q4" class="white_question">
      <div class="feeling">Upset</div>
      <label class="container"> <input type="radio" name="panas_q4" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q4" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q4" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q4" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q4" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q5" class="gray_question">
      <div class="feeling">Strong</div>
      <label class="container"> <input type="radio" name="panas_q5" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q5" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q5" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q5" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q5" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q6" class="white_question">
      <div class="feeling">Guilty</div>
      <label class="container"> <input type="radio" name="panas_q6" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q6" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q6" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q6" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q6" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q7" class="gray_question">
      <div class="feeling">Scared</div>
      <label class="container"> <input type="radio" name="panas_q7" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q7" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q7" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q7" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q7" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q8" class="white_question">
      <div class="feeling">Hostile</div>
      <label class="container"> <input type="radio" name="panas_q8" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q8" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q8" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q8" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q8" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q9" class="gray_question">
      <div class="feeling">Enthusiastic</div>
      <label class="container"> <input type="radio" name="panas_q9" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q9" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q9" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q9" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q9" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q10" class="white_question">
      <div class="feeling">Proud</div>
      <label class="container"> <input type="radio" name="panas_q10" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q10" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q10" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q10" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q10" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q11" class="gray_question">
      <div class="feeling">Irritable</div>
      <label class="container"> <input type="radio" name="panas_q11" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q11" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q11" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q11" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q11" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q12" class="white_question">
      <div class="feeling">Alert</div>
      <label class="container"> <input type="radio" name="panas_q12" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q12" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q12" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q12" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q12" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q13" class="gray_question">
      <div class="feeling">Ashamed</div>
      <label class="container"> <input type="radio" name="panas_q13" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q13" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q13" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q13" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q13" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q14" class="white_question">
      <div class="feeling">Inspired</div>
      <label class="container"> <input type="radio" name="panas_q14" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q14" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q14" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q14" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q14" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q15" class="gray_question">
      <div class="feeling">Nervous</div>
      <label class="container"> <input type="radio" name="panas_q15" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q15" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q15" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q15" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q15" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q16" class="white_question">
      <div class="feeling">Determined</div>
      <label class="container"> <input type="radio" name="panas_q16" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q16" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q16" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q16" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q16" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q17" class="gray_question">
      <div class="feeling">Attentive</div>
      <label class="container"> <input type="radio" name="panas_q17" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q17" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q17" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q17" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q17" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q18" class="white_question">
      <div class="feeling">Jittery</div>
      <label class="container"> <input type="radio" name="panas_q18" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q18" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q18" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q18" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q18" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q19" class="gray_question">
      <div class="feeling">Active</div>
      <label class="container"> <input type="radio" name="panas_q19" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q19" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q19" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q19" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q19" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div id="panas_q20" class="white_question">
      <div class="feeling">Afraid</div>
      <label class="container"> <input type="radio" name="panas_q20" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q20" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q20" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q20" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="panas_q20" value="5"> <span class="checkmark"></span> </label>
    </div>

    <div>
      <button id="panas_submit_button">Next</button>
    </div>

  </body>
  <script type="text/javascript" src="scripts/panas.js"></script>
</html>