<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Unseeable Post-Survey</title>
    <link rel="stylesheet" href="css/questions.css">
    <link rel="stylesheet" href="css/survey.css">
  </head>

  <body>
    <h1>Unseeable Post-Survey</h1>
    <p>After playing the game, we would like to ask you some additional questions. Please answer the questions presented below honestly and thoughtfully. Again, these questions are optional.</p>

    <div class="gray_question">
      <div class="scenario">How difficult was table selecting activity?</div>
      <div class="rating_left">Easy</div>
      <label class="container"> <input type="radio" name="postSurvey_q1" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q1" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q1" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q1" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q1" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Hard</div>
    </div>

    <div class="white_question">
      <div class="scenario">How difficult was paper coloring activity?</div>
      <div class="rating_left">Easy</div>
      <label class="container"> <input type="radio" name="postSurvey_q2" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q2" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q2" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q2" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q2" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right">Hard</div>
    </div>

    <div class="gray_question">
      <div class="scenario">How much do you feel you learned about the colorblind experience now?</div>
      <div class="rating_left_overflow">I didn't learn anything</div>
      <label class="container"> <input type="radio" name="postSurvey_q3" value="1"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q3" value="2"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q3" value="3"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q3" value="4"> <span class="checkmark"></span> </label>
      <label class="container"> <input type="radio" name="postSurvey_q3" value="5"> <span class="checkmark"></span> </label>
      <div class="rating_right"> I learned a lot</div>
    </div>

    <div class="white_question">
      <div class="scenario">Do you have any other comments or suggestions?</div>
      <div class="q4_description">Responses here can cover any array of items related to the game, including but not limited to: bugs you found while playing the game, general improvement to the game that could be made, advice for the MQP team, criticisms on certain aspects of the game, criticisms of the surveys using, etc.</div>
      <textarea id="postSurvey_q4" placeholder="Enter comments here..."></textarea>
    </div>

    <div>
      <button id="survey_submit_button">Next</button>
    </div>
  </body>
  <script type="text/javascript" src="scripts/postSurvey.js"></script>
</html>